.wrapper {
  width: 220px;
  height: 60px;
  padding: 4px;
  background-color: var(--color-sunny);
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 21px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  p, a {
    color: rgba(var(--color-black700), 0.55);
  };
}