.wrapper {
  margin-top: var(--l-space);
}

.report {
  font-weight: 400;
  font-size: var(--h3-size);
  line-height: var(--h3-lineheight);
  font-family: Krona One;
  text-decoration: none;
  color: rgba(var(--color-base-text), 1);
  &:visited {
    color: var(--color-black);

  }
}

.arrowStroke {
  stroke: rgba(var(--color-base-text), 1);
}