.wrapper {
  margin-top: 32px;
  padding: 0px 0px 10px 24px;
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  &::-webkit-scrollbar {
    display: none;
  }
  & > div {
    margin-right: 24px;
    flex-shrink: 0;
    width: 188px;
  }
}