.title {
  line-height: 40px;
  padding: 4px;
  background-color: var(--color-bg);
  color: rgba(var(--color-base-text), 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: 24px;
  width: fit-content;
  margin-bottom: 8px;
}

.subheader {
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  color: var(--color-second-text);
  line-height: 20px;
  margin-top: 4px;
}