@font-face {
  font-family: 'Krona One';
  font-style: normal;
  src: url('../fonts/KronaOne-Regular.ttf') format('truetype'),
    url('../fonts/KronaOne-Regular.woff') format('woff'),
    url('../fonts/KronaOne-Regular.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Inter-Regular.ttf') format('truetype'),
    url('../fonts/Inter-Regular.eot?#iefix') format("embedded-opentype"),
    url('../fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Inter-Medium.ttf') format('truetype'),
  url('../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Inter-Medium.ttf') format('truetype'),
    url('../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Medium.woff') format('woff');
}