.wrapper {
  width: 48px;
  height: 48px;
  background: var(--color-action-btn);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}