@import './shared/assets/styles/variables.css';
@import './shared/assets/styles/fonts.css';
@import '../node_modules/reset-css/reset.css'; 

* {
  box-sizing: border-box;
}

body {
  background:
  linear-gradient(
    var(--color-bg-grid), var(--color-bg-grid) 1px, transparent 0px
  ),
  linear-gradient(
  90deg,
  var(--color-bg-grid), var(--color-bg-grid) 1px, transparent 0px
  );
  background-size: 40px 40px;
  background-position: center -1px;
  background-color: var(--color-bg);
  font-family: Inter;
}

h1, h2,h3, h4, h5, h6 {
  font-family: Krona One;
  font-style: normal;
}

h3 {
  font-weight: 400;
  font-size: 24px;
}

h4 {
  font-weight: 400;
  font-size: 18px;
}